*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
   padding: 0;
  }

  body {
    font-size: 16;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }



  /* customs */

  :root {
    --clr-blue: #133EFC;
    --clr-yellow: #FCF113;
    --clr-purple: #D413FC;
    --clr-green: #13FC5B;

    --ff-title: 'Archivo Black', sans-serif;
    --ff-normal: 'Archivo', sans-serif;
    --ff-number: 'Noto Sans Gujarati', sans-serif;
  }

  span {
    color: var(--clr-blue); 
   }


   ::selection {
    color: white;
    background: var(--clr-purple);
  }


   ::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    background: transparent; /* to make scrollbar invisible */
    }
    ::-webkit-scrollbar-thumb {
    background: transparent;
    }



body {
  font-family: var(--ff-normal);
}




   /* header */

   header {
    text-transform: uppercase;
    font-size: clamp(1.125rem, 1.0188rem + 0.4531vw, 1.5625rem);
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    
   }

   .head-flex {
    padding: 1.5rem 2.5rem;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav p {
    margin-right: 1rem;
    color: white;
  }

   nav, ul {
    display: flex;
    align-items: center;
   }

   ul {
    list-style: none;
   }

   li {
    color: white;
    margin: 0 0.6rem;
    padding: 0 0.5rem;
    margin-top: -0.3rem;
    background-image: linear-gradient(
		0, var(--clr-blue) 55%,
		transparent 50%);
   }

   .nav-1 {
    display: flex;
   }
   
   

   .li-p {
    color: white;
    background-image: linear-gradient(
		0, var(--clr-purple) 55%,
		transparent 50%)
   }

   .li-g {
    color: white;
    background-image: linear-gradient(
		0, var(--clr-green) 55%,
		transparent 50%)
   }



   li:hover, li:focus, li:active {
    cursor: pointer;
    color: var(--clr-blue);
    font-weight: 600;
    background-image: linear-gradient(
		0, white 100%,
		transparent 0%)
   }
   
   .li-p:hover, .li-p:focus, .li-p:active {
    color: var(--clr-purple);
    background-image: linear-gradient(
		0, white 100%,
		transparent 0%)
   }

   .li-g:hover, .li-g:focus, .li-g:active {
    color: var(--clr-green);
    background-image: linear-gradient(
		0, white 100%,
		transparent 0%)
   }

   nav ul li a {
    color: inherit;
    text-decoration: none;
   }
   nav ul a:active li, nav ul a:focus li {
    background-image: linear-gradient(
      0, white 100%,
      transparent 0%)
   }


   
  @media (max-width: 590px) {

    nav {
      flex-direction: column;
      gap: 0.7rem;
    }

  } 







  /* first flex thingy */

  .first-flex {
    display: flex;
    padding: 1rem 0;
  }

  .first-img {
   width: 50%;
  }

  .first-img img{
   width: 100%;
  }

  .a123-text {
    width: 55%;
    margin-left: -8vw;
  }

  .a123-flex {
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
    height: 18vw;
  }

  .a123-flex-small-text-pir {
    padding-top: 1vw;
  }

  @media (max-width:1455px) {
    
  .a123-flex {
    gap: 1rem;
  }

  }

  h2 {
    font-family: var(--ff-number);
    font-size: clamp(8rem, 17vw, 25rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vw;
  }

  .a123-small-text p{
    max-width: 500px;
    font-size: clamp(0.75rem, 0.5225rem + 0.9709vw, 1.6875rem);
  }

h3 {
  font-size: clamp(1.5rem, 3.2vw, 3rem);
}

.a123-small-text {
  text-align: center;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a123-small-text p{
  max-width: 500px;
}

.h3-b {
  color: var(--clr-blue);
}
.h3-p {
  color: var(--clr-purple);
}
.h3-g {
  color: var(--clr-green);
}


@media (max-width:590px) {
  .first-flex {
    flex-direction: column;
    padding: 0;
  }

  .first-img {
   width: 95%;
  }

  .a123-text {
    width: 80%;
    margin-left: 0;
    margin: 0 auto;
    margin-top: -21vw;
    display: flex;
    flex-direction: column;
    gap:1rem;
  }

  .a123-flex {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    height: 18vw;
  }


  h2 {
    font-family: var(--ff-number);
    font-size: clamp(8rem, 17vw, 25rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vw;
  }

  .a123-small-text p{
    max-width: 500px;
    font-size: clamp(0.9rem, 0.5225rem + 0.9709vw, 1.6875rem);
    line-height: 1.1;
  }

h3 {
  font-size: clamp(1.2rem, 3.2vw, 3rem);
}

.a123-small-text {
  text-align: center;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
}





/* for you */

  
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.foryou-title {
  margin: 2vw 0;
  font-family: var(--ff-title);
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 1rem;
  font-size: clamp(1.875rem, 1.1924rem + 2.9126vw, 4.6875rem);
}

@media (max-width:900px) {
  .foryou-title {
    padding: 4vw 0 0;
  }
  
}


.foryou-title-wrap {
  display: flex;
  gap: 1rem;
  animation: 25s slide infinite linear;
}





/* kb */

section {
  background-image: url(img/bg-0.5.png);
  background-size: cover;
  background-size: 100% auto;
  background-position: left top;
  background-repeat: repeat;
}

.list-page {
  padding: 2vw;
}

/* .keyboards {
  background-image: url(img/bg-0.5.png);
  background-size: cover;
}

.switches {
  background-image: url(img/bg-0.5.png);
  background-size: cover;
} */



#keyboards .section-title p, #switches .section-title p, #more .section-title p {
  display: inline;
  background-image: linear-gradient(
		0, var(--clr-yellow) 55%,
		transparent 50%);
    padding: 0 0.5rem;
    font-size: clamp(2.1rem, 1.3203rem + 3.3269vw, 5.3125rem);
  font-weight: 600;
}

.kb-grid-item-text {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-size: clamp(0.5rem, 0.0752rem + 1.8123vw, 2.25rem);
}

.kb-grid-item-text a {
  width: 10%;
}

.kb-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3vw 4vw;
  padding-top: 2vw;
}

.kb-grid-item-img {
  border: 3px solid black;
}

.kb-grid-item-img1 {
  background-image: url(kb/1-b.webp);
  background-size: cover;
}

.kb-grid-item-img1:hover, .kb-grid-item-img1:focus, .kb-grid-item-img1:active {
  background-image: url(kb/1-a.webp);
  background-size: cover;
  border: 5px solid var(--clr-green);
  margin: -2px;
}

.kb-grid-item-img2 {
  background-color: white;
  background-image: url(kb/2.webp);
  background-size: cover;
}

.kb-grid-item-img2:hover, .kb-grid-item-img2:focus, .kb-grid-item-img2:active {
  background-image: url(kb/2-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-purple);
  margin: -2px;
}

.kb-grid-item-img3 {
  background-image: url(kb/3.webp);
  background-size: cover;
}

.kb-grid-item-img3:hover, .kb-grid-item-img3:focus, .kb-grid-item-img3:active {
  background-image: url(kb/3-a.webp);
  background-size: cover;
  border: 5px solid var(--clr-blue);
  margin: -2px;
}

.kb-grid-item-img4 {
  background-image: url(kb/4.webp);
  background-size: cover;
}

.kb-grid-item-img4:hover, .kb-grid-item-img4:focus, .kb-grid-item-img4:active {
  background-image: url(kb/4-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-yellow);
  margin: -2px;
}

.kb-grid-item-img5 {
  background-image: url(kb/5.jpg);
  background-size: cover;
}

.kb-grid-item-img5:hover, .kb-grid-item-img5:focus, .kb-grid-item-img5:active {
  background-image: url(kb/5-a.webp);
  background-size: cover;
  border: 5px solid var(--clr-yellow);
  margin: -2px;
}

.kb-grid-item-img6 {
  background-image: url(kb//6.jpg);
  background-size: cover;
}

.kb-grid-item-img6:hover, .kb-grid-item-img6:focus, .kb-grid-item-img6:active {
  background-image: url(kb/6-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-blue);
  margin: -2px;
}

.kb-grid-item-img7 {
  background-image: url(kb/8.jpg);
  background-size: cover;
}

.kb-grid-item-img7:hover, .kb-grid-item-img7:focus, .kb-grid-item-img7:active {
  background-image: url(kb/8-a.webp);
  background-size: cover;
  border: 5px solid var(--clr-purple);
  margin: -2px;
}

.kb-grid-item-img8 {
  background-image: url(kb/7\ \(2\).jpg);
  background-size: cover;
}

.kb-grid-item-img8:hover, .kb-grid-item-img8:focus, .kb-grid-item-img8:active {
  background-image: url(kb/7-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-green);
  margin: -2px;
}

@media (max-width:888px) {
  section {
    background-size: 150% auto;
  }
  
}


@media (max-width:590px) {
  .kb-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .kb-grid-item-text {
    padding-top: 0.5vw;
    font-size: clamp(1rem, 0.0189rem + 4.186vw, 1.5625rem);}

    section {
      background-size: 200% auto;
    }
    
  }






/* switches */

.switches-flex {
  display: flex;
  gap: 2vw;
  margin-top: 1vw;
}

.switch-group {
  display: grid;
  grid-template-areas:
   "img title"
   "img text";
  grid-template-columns: 33% 50%;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  gap: 1vw 4vw;
  -webkit-box-shadow: 27px 4px 39px 3px rgba(0,0,0,0.12);
-moz-box-shadow: 27px 4px 39px 3px rgba(0,0,0,0.12);
box-shadow: 27px 4px 39px 3px rgba(0,0,0,0.12);
}


.title-arrow-flex {
  font-size: clamp(0.625rem, 0.2306rem + 1.6828vw, 2.25rem);
  display: flex;
  align-items: center;
  grid-area: title;
  padding-top: 1vw;
  gap: 2vw;
}

.switch-img {
  grid-area: img;
  border-radius: 7% 0 0 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2vw 0;
}
.switch-img-b {
  background-color: rgb(119,206,255);
}
.switch-img-s {
  background-color: rgb(255,181,158);
}
.switch-img-r {
  background-color: rgb(255,107,169);
}

.switches-text {
  grid-area: text;
  font-size: clamp(0.375rem, 0.1019rem + 1.165vw, 1.5rem);
  color: rgba(0, 0, 0, 0.8);
}

.switch-wrap {
  justify-self: center;
  align-self: center;
  margin-right: -4vw;
  width: 130%;
}

.title-arrow-flex a {
  width: 20%;
}

@media (max-width:728px) {
  .title-arrow-flex a {
    width: 16%;
  }
}


.switches-text, .title-arrow-flex {
margin-left: 0.5vw;
}


@media (max-width:590px) {
  .switches-flex {
    flex-direction: column;
  }
  
  .switch-group {
    width: 82%;
    margin: 2vw;
    grid-template-columns: 25% 55%;
    gap: 1vw 4vw;
    -webkit-box-shadow: 27px 4px 39px 3px rgba(0,0,0,0.10);
  -moz-box-shadow: 27px 4px 39px 3px rgba(0,0,0,0.10);
  box-shadow: 27px 4px 39px 3px rgba(0,0,0,0.10);
  }
  
  .title-arrow-flex {
    font-size: clamp(1.25rem, 0.4869rem + 3.2558vw, 1.6875rem);
    padding-top: 1.2vw;
    gap: 5vw;
  }
  .title-arrow-flex-s {
    gap: 3vw;
  }
  
  .title-arrow-flex-r {
    gap: 4vw;
  }
  
  .switch-img {
    padding: 4.5vw 0 4vw 1vw;
  }

  .switches-text {
    font-size: clamp(0.875rem, 0.2209rem + 2.7907vw, 1.25rem);
    padding-bottom: 2vw;
  }
  
  .switch-wrap {
    justify-self: center;
    align-self: center;
    margin-right: -12vw;
    width: 500%;
  }
  
  .title-arrow-flex a {
    width: 18%;
  }
   
  .switches-text, .title-arrow-flex {
  margin-left: 12vw;
  }
  
}

@media (max-width:442px) {
  .switch-group {
    width: 87%;
    grid-template-columns: 27% 60%;
  }

  .switch-wrap {
    margin-right: -15vw;
    width: 140%;
  }

  .switch-img {
    padding: 3vw 0 3vw 0;
    border-radius: 14% 0 0 14%;
  }


  .title-arrow-flex {
    padding-top: 3vw;
    }

    .switches-text{
      padding-bottom: 3vw;
      }

}









/* more */

.more-flex {
  display: flex;
  padding-top: 1.3vw;
}

h5 {
  writing-mode: vertical-lr;
  rotate: 180deg;
  background-color: var(--clr-blue);
  padding: 0.7vw 0;
  color: white;
  font-family: var(--ff-title);
  font-size: clamp(1.5625rem, 1.335rem + 0.9709vw, 2.5rem);
}

.more-grid-full {
  display: flex;
}

.more-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1vw 1vw;
  padding: 0 4vw 7vw 1vw;
}

.more-item-img {
  border: 3px solid black;
}

.kc-item-img1 {
  background-image: url(caps/1-a.webp);
  background-size: cover;
}

.kc-item-img1:hover, .kc-item-img1:focus, .kc-item-img1:active {
  background-image: url(caps/1.webp);
  background-size: cover;
  border: 5px solid var(--clr-purple);
  margin: -2px;
}

.kc-item-img2 {
  background-color: white;
  background-image: url(caps/2.jpg);
  background-size: cover;
}

.kc-item-img2:hover, .kc-item-img2:focus, .kc-item-img2:active {
  background-image: url(caps/2-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-yellow);
  margin: -2px;
}

.kc-item-img3 {
  background-image: url(caps/3-a.jpg);
  background-size: cover;
}

.kc-item-img3:hover, .kc-item-img3:focus, .kc-item-img3:active {
  background-image: url(caps/3.jpg);
  background-size: cover;
  border: 5px solid var(--clr-green);
  margin: -2px;
}

.kc-item-img4 {
  background-image: url(caps/4.jpg);
  background-size: cover;
}

.kc-item-img4:hover, .kc-item-img4:focus, .kc-item-img4:active {
  background-image: url(caps/4-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-blue);
  margin: -2px;
}

.kc-item-img5 {
  background-image: url(caps/5.jpg);
  background-size: cover;
}

.kc-item-img5:hover, .kc-item-img5:focus, .kc-item-img5:active {
  background-image: url(caps/5-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-blue);
  margin: -2px;
}

.kc-item-img6 {
  background-image: url(caps/6.webp);
  background-size: cover;
}

.kc-item-img6:hover, .kc-item-img6:focus, .kc-item-img6:active {
  background-image: url(caps/6-a.webp);
  background-size: cover;
  border: 5px solid var(--clr-green);
  margin: -2px;
}

.kc-item-img7 {
  background-image: url(caps/7-a.jpg);
  background-size: cover;
}

.kc-item-img7:hover, .kc-item-img7:focus, .kc-item-img7:active {
  background-image: url(caps/7.webp);
  background-size: cover;
  border: 5px solid var(--clr-yellow);
  margin: -2px;
}

.kc-item-img8 {
  background-image: url(caps/8-a.jpg);
  background-size: cover;
}

.kc-item-img8:hover, .kc-item-img8:focus, .kc-item-img8:active {
  background-image: url(caps/8.jpg);
  background-size: cover;
  border: 5px solid var(--clr-purple);
  margin: -2px;
}




.dp-item-img1 {
  background-image: url(deskpads/1.jpg);
  background-size: cover;
  background-color: white;
}

.dp-item-img1:hover, .dp-item-img1:focus, .dp-item-img1:active {
  background-image: url(deskpads/1-a.webp);
  background-size: cover;
  border: 5px solid var(--clr-green);
  margin: -2px;
}

.dp-item-img2 {
  background-color: white;
  background-image: url(deskpads/2.webp);
  background-size: cover;
}

.dp-item-img2:hover, .dp-item-img2:focus, .dp-item-img2:active {
  background-image: url(deskpads/2-a.webp);
  background-size: cover;
  border: 5px solid var(--clr-blue);
  margin: -2px;
}

.dp-item-img3 {
  background-image: url(deskpads/3.jpg);
  background-size: cover;
}

.dp-item-img3:hover, .dp-item-img3:focus, .dp-item-img3:active {
  background-image: url(deskpads/3-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-yellow);
  margin: -2px;
}

.dp-item-img4 {
  background-image: url(deskpads/4-a.webp);
  background-size: cover;
}

.dp-item-img4:hover, .dp-item-img4:focus, .dp-item-img4:active {
  background-image: url(deskpads/4.jpg);
  background-size: cover;
  border: 5px solid var(--clr-purple);
  margin: -2px;
}

.dp-item-img5 {
  background-image: url(deskpads/5-a.webp);
  background-size: cover;
}

.dp-item-img5:hover, .dp-item-img5:focus, .dp-item-img5:active {
  background-image: url(deskpads/5.webp);
  background-size: cover;
  border: 5px solid var(--clr-blue);
  margin: -2px;
}

.dp-item-img6 {
  background-image: url(deskpads/6.jpg);
  background-size: cover;
}

.dp-item-img6:hover, .dp-item-img6:focus, .dp-item-img6:active {
  background-image: url(deskpads/6-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-green);
  margin: -2px;
}

.dp-item-img7 {
  background-image: url(deskpads/7.jpg);
  background-size: cover;
}

.dp-item-img7:hover, .dp-item-img7:focus, .dp-item-img7:active {
  background-image: url(deskpads/7-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-yellow);
  margin: -2px;
}

.dp-item-img8 {
  background-image: url(deskpads/8.jpg);
  background-size: cover;
}

.dp-item-img8:hover, .dp-item-img8:focus, .dp-item-img8:active {
  background-image: url(deskpads/8-a.jpg);
  background-size: cover;
  border: 5px solid var(--clr-purple);
  margin: -2px;
}

.more-item, .kc-item, .dp-item  {
  position: relative;
}


.middle {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 7%;
  right: 7%;
  width: 15%;
	height:auto;
}

.more-item:hover .middle {
  opacity: 1;
}


@media (max-width:590px) {

  h5 {
    padding: 2vw 0;
  }

  .more-flex {
    flex-direction: column;
  }

  .more-grid {
    padding: 0 0 7vw 2vw;
    gap: 2vw 2vw;
  }
  

  .more-grid-full {
    padding: 0 2vw 0 1vw;
  }
  
}









/* footer */

footer {
  background-color: black;
  color: white;
}

.footer-wrap {
  padding: 2.5vw 1.2rem 1.5vw 1.2rem;
    margin: 0 auto;
    max-width: 1540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}


.foot-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot-div p{
  display: inline;
  background-image: linear-gradient(
		0, var(--clr-purple) 55%,
		transparent 50%);
    padding: 0.2rem 0.3rem;
	 font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
}

.foot-c {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 1vw 0;
  opacity: 40%;
 
}

@media (max-width:590px) {
  .footer-wrap {
    padding: 4vw 1.2rem 2vw 1.2rem;
  }

  .foot-c {
    padding: 2vw;
  }
}


